{% set DOI = pkg['dara_DOI'] %}
{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}


{% if pkg %}
  {% if h.is_landing_page() %}
  {% else %}
  <section class="module module-narrow journal">
    <div class="module context-info">
      <div class="module-content">
          <h1 class="heading zbw-box box-full" style="text-align:center";>{{ pkg.title or pkg.name }}</h1>

    {# num is repeated in a better position, no need for it to be here#}

    </div>
  </section>
  {% endif %}
{% endif %}

